.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease;
  background: var(--color-bg);
  padding: 25px 50px; /* Improved padding for better visual */

  box-shadow: 0 3px 3px var(--color-shadow);
}

.header .logo-container {
  height: 134px;
  width: 134px;
  background: url("../assets/logo.png");
  margin-right: 32px;
}

.header h1 {
  flex-grow: 1;
}


/* created new class header-shrink */
.header-shrink {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;  /* position is fixed */
  width: 97%;
  transition: all 0.2s ease; /* For smooth transition animation */
  color: aliceblue;

  box-shadow: 0 3px 3px var(--color-shadow);
  padding: 10px 30px; /* padding */
  background: rgb(0, 97, 177); /* Added background color */
}

.header-shrink .logo-container {
  height: 40px;
  width: 40px;
  background: url("../assets/logo-shrink.png"); /* Shrinked logo */
  background-repeat:no-repeat; 
  margin-right: 8px;
}

.header-shrink h1 {
  flex-grow: 1;
}

.header .burger div{
  background-color:black;
}

/* for the burger button for sidebar */
.burger{
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  margin: 5px;
  margin-right: 30px;
  background-color: aliceblue;
  align-items: center;
  transition: all 0.3s ease;
}

/* Burger <-> X animation */
.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
